<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Shop | Furniture</title>
  <link rel="stylesheet" href="/static/assets/CSS/style.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">

</head>

<body>

  <div class="top-bar">
    <div class="container d-flex justify-content-between align-items-center">
      <div class="top-left">
        info@furniforma.com
      </div>
      <div class="top-right">
        <a href="{% url 'admin_login' %}">Login</a>
      </div>
    </div>
  </div>

  <header class="header">
    <div class="container d-flex justify-content-between align-items-center">
      <img class="logo" src="/static/assets/Images/final2.png" alt>

      <div class="social-header-icons">
        <i class="bi bi-instagram"></i>
        <i class="bi bi-facebook"></i>
        <i class="bi bi-twitter-x"></i>
        <i class="bi bi-youtube"></i>
      </div>

    </div>
  </header>

  <nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm sticky-top">
    <div class="container">
      <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#mainNav">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="mainNav">
        <ul class="navbar-nav mx-auto gap-4">

          <li class="nav-item">
            <a class="nav-link" href="{% url 'home' %}">Home</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{% url 'shop' %}">Shop</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{% url 'pages' %}">Pages</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{% url 'blog' %}">Blog</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{% url 'contact' %}">Contact</a>
          </li>

        </ul>
      </div>

    </div>
    </div>
  </nav>

  <section class="container py-5">
    <h2 class="mb-4 text-center">Shop Furniture</h2>

    <div class="row">
      <div class="col-md-3 col-6 mb-4 fade-up">
        <div class="product-card">
          <img src="/static/assets/Images/woodenchair.png" class="img-fluid">
          <h6>Luxury Chair</h6>
          <p>₹12,999</p>
          <a href="product-details" class="btn btn-sm btn-dark">View</a>
        </div>
      </div>

      <div class="col-md-3 col-6 mb-4 fade-up">
        <div class="product-card">
          <img src="/static/assets/Images/confortchair.png" class="img-fluid">
          <h6>Comfort Sofa</h6>
          <p>₹24,999</p>
          <a href="#" class="btn btn-sm btn-dark">View</a>
        </div>
      </div>

      <div class="col-md-3 col-6 mb-4 fade-up">
        <div class="product-card">
          <img src="/static/assets/Images/roundtable.png" class="img-fluid">
          <h6>Wooden Table</h6>
          <p>₹18,999</p>
          <a href="#" class="btn btn-sm btn-dark">View</a>
        </div>
      </div>

      <div class="col-md-3 col-6 mb-4 fade-up">
        <div class="product-card">
          <img src="/static/assets/Images/officechair.png" class="img-fluid">
          <h6>Office Chair</h6>
          <p>₹9,999</p>
          <a href="#" class="btn btn-sm btn-dark">View</a>
        </div>
      </div>
    </div>
  </section>

  <footer class="footer">
    <div class="container">
      <div class="row">

        <div class="col-lg-4">
          <h4>FurniForma</h4>
          <p>Premium furniture crafted for modern homes.</p>
        </div>

        <div class="col-lg-4">
          <h5>Contact</h5>
          <p>Ahmedabad, Gujarat</p>
        </div>

        <div class="col-lg-4">
          <h5>Collections</h5>
          <ul>
            <li>Living Room</li>
            <li>Bedroom</li>
            <li>Office</li>
          </ul>
        </div>

      </div>
      <div class="footer-bottom">
        © 2025 FurniForma — College Project
      </div>
    </div>
  </footer>

  <script src="/static/assets/JS/main.js"></script>
</body>

</html>